header {
background: #0c0c0e;
}

.line {
    width: 50px;
    height: 1px;
    background-color: black;
    background: #BB945F;
}

.card {
    width: 550px;
    position: relative;
}

.card p {
    line-height: 40px;
}

.card img {
    position: absolute;
    bottom: 0;
    left: 400px;
}

